.content {
  display: block;
  position: relative;
  background: #e4e8ec;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: 230px;
  margin-right: auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  .box-header{
    border-top: 3px solid #337ab7;
    display: block;
    position: relative;
    background: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #444;
    border-radius: 2px;
    box-shadow: 0 20px 59px rgba(52, 58, 68, 0.1);
    margin-top: 10px;
    box-sizing: border-box;
    h3{
      margin: 0;
      font-weight: 400;
    }
  }
  .sales-info{
    box-shadow: 0 20px 59px rgba(52, 58, 68, 0.1);
    border-radius: 10px;
    margin-top: 5px;
    background: #fff;
    transition: 200ms ease;
    padding: 7px 15px;
    //&:hover{
    //  transform: scale(1.03);
    //  transition: 200ms ease;
    //}
    .num{
      display: block;
      position: relative;
      float: left;
      width: 50%;
      margin-bottom: 7px;
      box-sizing: border-box;
      text-align: left;
      .fa-star{
        color: #53beea;
      }
      .fa-bell{
        color: #f82254;
      }
      &:nth-child(2){
        text-align: right;
        float: right;
      }
    }
    h3{
      color: #000000;
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 8px;
      .fa-map-marker{
        color: #53beea;
        margin-right: 7px;
      }
    }
    h4{
      color: #000000;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 8px;
      .fa-map-marker{
        color: #53beea;
      }
    }
    .quantity{
      display: inline-block;
      float: right;
    }
    .sign{
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      width: 25px;
      height: 25px;
      box-shadow: 0 12px 24px rgba(65, 125, 200, 0.32);
      border: 1px solid #417dc8;
      border-radius: 50%;
      text-align: center;
      span{
        color: #558bce;
        font-size: 14px;
        font-weight: 500;

      }
    }
    &:hover .sign{
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: none;
    }
    .first-button{
      width: 42px;
      height: 22px;
      display: block;
      border-radius: 11px;
      background-color: rgba(83, 190, 234, 0.89);
      border: 0;
      cursor: pointer;
      color: #ffffff;
      font-size: 12px;
      float: left;
      font-weight: 500;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;

    }
    .middle-button{
      width: 35px;
      height: 22px;
      border-radius: 11px;
      border: 0;
      float: left;
      background-color: rgba(39, 174, 97, 0.89);
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: 13px;
    }
    .last-button{
      width: 35px;
      height: 22px;
      border-radius: 11px;
      background-color: rgba(232, 76, 61, 0.89);
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      border: 0;
      margin-right: 13px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .clearfix{
    clear: both;
    overflow: hidden;
  }
}

